<!doctype html>
<html>

<head>
  <title>What to Wear</title>
  <link rel="stylesheet"
        href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.js"></script>
  <!-- <link rel="stylesheet" href="static/css/styles.css"> -->
<!--   <style>
    button {
      display: block;
      margin: 5px;
    }
  </style> -->
</head>

<body>
<div class="container">

  <div class="page-header">
    <h3>What to Wear?</h3>
  </div>

  <div id="root"></div>

  <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

  <script src="http://unpkg.com/babel-standalone"></script>

  <script src="/static/js/weather.jsx" type="text/jsx"></script>
</div>
</body>
</html>
